.Habit_background {
    background-color: rgb(30, 27, 27);
    height: 100vh;
    justify-content: center;
    padding-top: 20px;
    align-items:center;
  }
  
  .newHabit {
    margin: 0;
    margin-top: 0;
    margin-left:25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 50%; /* Adjust the width as needed */
    height: 50%;
    justify-content: center;
  }
  
  .newHabit:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  
  
  
  .submitForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right:0;
    margin-left:0;
    
  }
  
  .submitForm label {
    color: white;
    margin-bottom: 1rem;
    font-size: 45px;
  }
  
  .submitForm input {
    width: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .submitForm button {
    color: white;
    margin-bottom: 1rem;
    background-color: green;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .submitForm button:hover{
    cursor: pointer;
    opacity: 0.6;
  }
  .calendar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .calendar-container {
    /* Add any additional styles for the calendar container here */
    margin: auto;
  }
  .habit-list {
    animation: slide-in 0.5s ease-out forwards; /* add an animation to the ul element */
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(-100%); /* move the ul off-screen to the left */
      opacity: 0; /* set the opacity to 0 */
    }
    to {
      transform: translateX(0); /* move the ul back on-screen */
      opacity: 1; /* set the opacity to 1 */
    }
  }
  
  