.App {
  text-align: center;
  background-color: rgb(30, 27, 27);
  
}


.navBar {
  display: flex; /* make the navbar a flex container */
  justify-content: center; /* center the items horizontally */
  align-items: center; /* center the items vertically */
  list-style-type: none; /* remove the bullet points */
  margin: 0; /* remove any default margins */
  padding: 0; /* remove any default padding */
}

.navBar li {
  margin: 0 5rem; /* remove any default margins */
}

.navBar li a {
  display: flex;
  align-items: center; /* center the link vertically */
  justify-content: center; /* center the link horizontally */

  font-size: 20px;
  text-decoration: none;
}
